{% extends "blog/base.html" %}

{% block content %}
    <div class="row">
      혼자서 열심히 공부해봤는데, 카테고리, 샵, 리뷰를 여기 블로그에 구현하는 게
      떠오르지 않네요... 숙제도 두세번 못냈는데ㅠㅠ.. 다음에 파이썬 공부를 좀 더 미리하고
      수업을 듣도록 하겠습니다. 한학기동안 고생 많으셨습니다. <br/>
        {% for category in category_list %}
        <div class="col-sm-4">
            <div class="caption">
                <a href="{% url "blog:category_detail" category.pk %}">
                    {{ caegory.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
